@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Advent Pro', Arial, sans-serif;
    overflow-x: hidden;
}

/* Styles pour le header */
header {
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
    color: #fff;
    overflow: hidden;
    padding: 20px;
    width: 97.8%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Styles pour la barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    opacity: 0.9;
}

.hotel-nom {
    font-size: 1.8em;
    font-family: Gabriola;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
    font-size: 1.2em;
}

nav ul li a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff1f1;
    transition: width 0.5s ease;
}

nav ul li:hover a::after {
    width: 100%;
}

/* Styles pour le bouton de réservation */
.reservationbtn a {
    text-decoration: none;
    background-color: #fff;
    color: #000000;
    padding: 10px 16px;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 2s ease;
}

.reservationbtn a:hover {
    background-color: #daaa3ad6;
}

header.scrolled {
    background-color: rgba(51, 51, 51, 0.5);
}

body.scrolled {
    margin-top: 70px;
}

#section1 {
    background: none;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    position: relative;
    z-index: 1;
}


.image-content {
    flex: 1;
    overflow: hidden;
}
.slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 2s ease;
}
.slideshow-image-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 2;
}

section {
    position: relative;
    z-index: 2;
}

/* section2 */
.section2 {
    background-color: #fff;
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
}

.section2 .inner {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 960px;
    text-align: center;
    width: 100%;
}

.section2 h1 {
  color: #b7995d;
  font-family: 'Alice', serif;
  font-size: 50px; /* Augmenter la taille du texte */
  font-weight: normal; /* Supprimer le gras */
  line-height: 1.35;
  margin-bottom: 10px;
}


.section2 .p-wrap {
  margin-bottom: 18px;
  color: #333; 
  font-family: 'Dancing Script', cursive; 
  font-size: 20px; 
  line-height: 1.6; 
}


.section2 .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section2 .buttons .btn,
.section2 .buttons .text-link {
    margin-left: 12px;
    margin-right: 12px;
}

.section2 .more-content {
    padding-top: 0;
}

.section2 .read-more {
    margin-bottom: 20px;
    margin-top: 0;
}

.highlight h1 {
    text-transform: uppercase;
}

.p-wrap {
    margin-bottom: 18px;
}

.editablelinks a {
    color: #b7995d;
    text-decoration: underline;
}

.text-link {
  color: #302D2D; 
  text-decoration: none;
  font-weight: normal;
  position: relative;
  transition: color 0.3s; 
  font-weight: bold;
}

.text-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #A5864A;
  visibility: visible;
}

.text-link:hover {
  color: #A5864A; 
}

.text-link:active {
  color: #A5864A; 
}


/* section3 */
.section3 {
  display: flex;
  align-items: center;
  background-color: beige;
}

.image-container {
  flex: 1;
}

.content-container {
  flex: 1;
  padding-left: 10px; 
}

.content-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* section4 */
.section4 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
}

.section4 h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.section4 .field {
  margin-bottom: 15px;
  text-align: center; 
}

.section4 label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

.section4 input[type="text"],
.section4 textarea {
  width: 70%; /* Réduire la largeur des champs */
  max-width: 300px; /* Limiter la largeur maximale */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 auto; /* Centrer les champs horizontalement */
}

.section4 select {
  width: 70%; 
  max-width: 300px; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 auto; 
  background-color: #fff;
}

.section4 .btn {
  background-color: #b7995d;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.section4 .btn:hover {
  background-color: #9c7a3f;
}

.image-container {
  position: relative; /* Assurez-vous que le conteneur d'image est positionné */
}

.image-container::after {
  content: '';
  position: absolute;
  width: 200px; /* Augmentez la largeur de la bordure */
  height: 2px; /* Hauteur de la bordure */
  background-color: #A5864A; /* Couleur de la bordure */
  top:10%; /* Positionnement vertical au centre */
  left: calc(79% + 5px); /* Positionnement à droite de l'image */
  transform: translateY(-50%); /* Ajustement pour centrer verticalement */
}

.section3:nth-child(odd) {
  background: linear-gradient(to right, #A5864A, beige);
}
.section3:nth-child(odd) {
  background: linear-gradient(to right, #A5864A, beige);
  margin-bottom: 100px; 
}
.section3:nth-child(even) {
  background: linear-gradient(to right, BCAC82, #A5864A);
}

.text-custom {
  color: #A5864A;
}
h2 {
  color: #A5864A; 
  font-size: 10rem; 
  text-align: center;
}
h6{
  color: #A5864A; 
  text-align: center;
}
.post {
  background-color: white; /* Couleur de fond */
  padding: 20px; /* Espacement intérieur */
  border-radius: 10px; /* Coins arrondis */
  margin: 0 auto 20px; /* Marge automatique en haut et en bas, centré horizontalement */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
  max-width: 600px; /* Largeur maximale de l'article */
}

.post h2 {
  color: #b7995d;
  font-family: 'Alice', serif;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.35;
  margin-bottom: 10px;
}

.post .p-wrap {
  margin-bottom: 18px;
  color: #333;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  line-height: 1.6;
}


.post .buttons {
  margin-top: 20px; /* Marge en haut des boutons */
  text-align: center; /* Centrage des boutons */
}



.post .buttons .btn:hover {
  background-color: #9c7a3f; /* Couleur de fond des boutons au survol */
}


















/*section6*/
.section6 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-content6 {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.text-content6 h2 {
    color: #000000; 
    font-family: 'italic', serif; 
}
.social-icons {
    width: 100%;
    text-align:center;  
}
.social-icons a{
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
    color: #000000;
}
.social-icons a:hover{
    transform: scale(1.5);
    transition: 0.9s;
}
.section8 {
    background-color: #292727;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    height: 35vh;
}

.div-fin {
    text-align: center;
    flex: 1; 
    margin-left: 160px; 
}


.fin h4 {
    transition: 0.3s;
}

.fin h4:hover {
    color: #a88534;
}

.privacy-policy {
    text-align: right;
    margin-right: 20px;
    margin-top:-15%; 
}

.privacy-policy p {
    margin: 0;
    color: #fff;
    text-decoration: underline;
}

.privacy-policy p:hover {
    color: #a88534;
}
.privacy-policy {
    cursor: pointer;
}


#hotelText {
    cursor: pointer;
}



.hotel-nom1 {
    color: #e8e7dc;
    font-size: 1.8em;
    font-family: Gabriola;
}

.fin {
    color: #d1cdb7ca;
}
.position-relative {
    position: relative;
  }
  
  .section2-header {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .section2-header h1 {
    font-size: 2em;
  }
  
  .section2-header p {
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  
  

.aller-en-haut{
    text-align: center;
    
}
.fleche {
    font-size: 2em;
    animation: monterDescendre 1s infinite alternate;
}
.aller-en-haut {
    cursor: pointer;
}

@keyframes monterDescendre {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(15px);
    }
}

